.la-casa-game__stars{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.la-casa-game__stars svg{
    transition: .3s;
}
svg.star__svg{
    fill: beige;
}
svg.active{
    fill: yellow;
}


